@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Tenor+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: #e0e5ff;
}

header {
    background-color: #cc9b80;
}

header>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: lighter;
    font-size: 22px;
    margin-left: 10px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
}

header nav a:visited,
header nav a:link,
header h1 a {
    text-decoration: none;
    color: black;
}

header h1 a:hover {
    font-weight: bold;
}

header nav a:visited,
header nav a:link,
.atual:hover {
    padding: 15px 10px;
    display: inline-block;
    border-bottom: 4px solid #cc9b80;
}


header nav a:hover {
    border-bottom-color: black;
}

header nav a:active,
.atual {
    font-size: 15.67px;
    font-weight: bold;
}

.imagem-topo {
    background-image: url('../img/bailey-zindel-NRQV-hBF10M-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

section {
    width: 100%;
    padding: 20px;
    text-align: center;
}

section:nth-of-type(odd) {
    background-color: rgb(171, 213, 255);
}

section:nth-of-type(even) {
    background-color: rgb(171, 189, 255);
}

.mundo,.mural {
    text-align: left;
}

.titulo {
    border-bottom: solid black 4px;
    margin: 0px auto 20px;
    width: 200px;
}

button {
    padding: 20px 10px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 17px;
}

.botao1 {
    background-color: rgb(52, 75, 151);
    color: white;
}

.botao1:hover {
    background-color: rgb(21, 59, 182);
}

.botao1:active {
    background-color: rgb(25, 28, 37);
}

.botao2 {
    background-color: rgb(56, 113, 170);
    color: white;
}

.botao2:hover {
    background-color: rgb(0, 128, 255);
}

.botao2:active {
    background-color: rgb(13, 50, 87);
}

p {
    text-align: justify;
    margin: 10px 0px;
}

footer {
    padding: 40px;
}

footer p {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}

.grid-container img {
    width: 100%;
}

.grid-container p {
    margin-top: 0px;
    text-align: center;
}

.mescla-duas-colunas{
    grid-row: span 2;
}

.yosemite .titulo, .sunset .titulo {
    width: 300px;
}

.imagine img {
    width: 100%;
}

.algo-importante {
    text-align: center;
}

.presencie img {
    width: 100%;
}

@media screen and (min-width: 1540px) {
    header h1 {
        font-weight: lighter;
        font-size: 32px;
    }

    .container {
        flex-direction: row;
    }

    .grid-container {
        grid-template-columns: auto auto;
    }

    .grid-container img {
        width: 700px;
    }

    .imagine>.container>div,
    .presencie>.container>div {
        width: 50%;
    }

    header>div,
    section>div {
        width: 1400px;
        margin: auto;
    }

    .yosemite .titulo {
        margin-bottom: 20px;
    }
}