*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: orangered;
    justify-content: center;
}
nav a:link, a:visited{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
nav a:hover{
    color: orangered;
    background-color: rgb(255, 255, 255);
}
section{
    padding: 40px 60px;
}
.memphix{
    background-color: darkblue;
    padding: 20px; 
}
.memphix > div{
    background-color: white;
    border: 4px solid orangered;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}
.memphix h1{
    font-size: 20px;
}
.memphix .logo{
    height: 300px;
    width: 100%;
    background-image: url('../img/logoManutencao.png');
    background-repeat: no-repeat;
    background-position: center;
}
.memphix p{
    font-weight: bold;
    color: red;
    line-height: 25px;
}
.container{
    display: flex;
    flex-direction: column;
}
.celulares > .container > div{
    text-align: center;
}
.celulares >.container> div p{
    margin: 20px 0px;
}
.celulares >.container> div summary{
    color: orangered;
    font-weight: bold;
}
.celulares >.container> div p, .celulares >.container> div summary{
    text-align: justify;
}
.modelos h2{
    text-align: center;
}
.modelos p{
    margin: 20px 0px;
    text-align: justify;
}
footer{
    background-color: orangered;
    padding: 40px;
    text-align: center;
    color: white;
}

@media screen and (min-width: 768px) {
    header nav ul {
        justify-content: flex-end;
    }
    .memphix h1{
        font-size: 50px;
    }
    .memphix .logo{
        height: 350px;
        background-image: url('../img/logos.png');
    }
    .memphix p{
        font-size: 22px;
    }
    .container{
        flex-direction: row;
        gap: 30px;
    }
    .container > div {
        width: 300px;
    } 
    section > div {
        width: 1200px;
        margin: auto;
    }
    li{
        flex-grow: 0;
    }
    .modelos h2{
    text-align: justify;
}
}